<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3  bg-gradient-faded-info shadow-dark" id="sidenav-main">
  <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/index">
        <img src="/static/assets/img/logo-w.png" class="navbar-brand-img h-10" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">JadwaPlan</span>
      </a>
    </div>

    <hr class="horizontal light mt-0 mb-2"></hr>
    <!-- <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main"> -->
    <div class="w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link text-white {% if 'clientprofile' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/clientprofile/{{ bplan_id }}">
            <div class="text-white text-center me-1 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">account_circle</i>
            </div>
            <span class="nav-link-text ms-1">Client's Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'businessprofile' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/business_profile/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">business</i>
            </div>
            <span class="nav-link-text ms-1">Business Profile</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'businesspremises' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/business_premises/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">my_location</i>
            </div>
            <span class="nav-link-text ms-1">Business Premises</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'marketanalysis' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/market_analysis/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">equalizer</i>
            </div>
            <span class="nav-link-text ms-1">Market Analysis</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'competitors' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/competitors/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person_pin_circle</i>
            </div>
            <span class="nav-link-text ms-1">Competitors</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'operationsplan' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/operations_plan/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">work</i>
            </div>
            <span class="nav-link-text ms-1">Operations Plan</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'requestfund' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/requested_fund/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">monetization_on</i>
            </div>
            <span class="nav-link-text ms-1">Requested Fund</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white {% if 'feasibility' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/feasibility/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">pie_chart</i>
            </div>
            <span class="nav-link-text ms-1">Feasibility</span>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link text-white {% if 'profitloss' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/profitloss.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">account_balance</i>
            </div>
            <span class="nav-link-text ms-1">Profit & Loss</span>
          </a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link text-white {% if 'breakeven' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/breakeven.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">done_all</i>
            </div>
            <span class="nav-link-text ms-1">Breakeven</span>
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link text-white {% if 'exportplan' in segment %} active bg-gradient-faded-dark {% endif %}" 
             href="/export_plan/{{ bplan_id }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">open_in_browser</i>
            </div>
            <span class="nav-link-text ms-1">Export Plan</span>
          </a>
        </li>

      </ul>
    </div>

    <!-- <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-info mt-4 w-100" 
           href="{{ url_for('authentication_blueprint.logout') }}" type="button">Logout</a>
      </div>
    </div> -->

  </aside>
  